@mixin wh {
    width: 100%;
    height: 4rem;
}

.contenedor-formulario{
    max-width: 95%;
    margin: 0 auto 0 auto;
    padding-right: 1rem;

    .estructura-formulario{
        display: grid;
        grid-template-columns: 1fr 1fr;

        label{
            font-size: 2rem;
            text-transform: uppercase;
            padding-right: 2rem;
            padding-top: 1rem;
            
        }

        input,select{
            @include wh;
            border: 5px solid $marronOscuro;
            background-color: white;
        }
    }

    form{
        div{
            margin: 3rem 0 3rem 0;
        }

        .envir-formulario{

            input{
                @include wh;
                background-color: $marronOscuro;
                color: white;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
            }
        } 
    } 
    
}

.bg-contacto{
    background: $headerGradiente, url(../img/header_contacto.jpg);
    background-size: cover;
    height: auto;
}

/*-----------contacto-mediaQuery---------------*/

@media screen and (max-width:688px) {

    .contenedor-formulario{

        .estructura-formulario{
            grid-template-columns: 1fr;
        }
    }
}