@mixin imagenes($tipo) {
    grid-area: $tipo;

        &:hover{
            transform: scale(1.1);
        }
}

.bg-galeria{
    background: $headerGradiente url(../img/header_galeria.jpg);
    background-size: cover;
    height: 40rem;
}

.contenedor-titulo-galeria{
    text-align: center;
}
.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "galeria-img-1 galeria-img-2 galeria-img-2 galeria-img-3"
    "galeria-img-1 galeria-img-4 galeria-img-5 galeria-img-5"
    "galeria-img-7 galeria-img-4 galeria-img-6 galeria-img-6"
    "galeria-img-7 galeria-img-8 galeria-img-8 galeria-img-8"
    "galeria-img-9 galeria-img-9 galeria-img-10 galeria-img-10"
    ;
    gap:1rem;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 5rem 0 5rem 0;
    
    img{
        width: 100%;
        height:100%;
        object-fit: cover;
        transition: all 1s;
    }

    .galeria-img1{
        @include imagenes(galeria-img-1);
    }

    .galeria-img2{
        @include imagenes(galeria-img-2);
    }

    .galeria-img3{
        @include imagenes(galeria-img-3);
    }

    .galeria-img4{
        @include imagenes(galeria-img-4);
    }

    .galeria-img5{
        @include imagenes(galeria-img-5);
    }

    .galeria-img6{
        @include imagenes(galeria-img-6);
    }

    .galeria-img7{
        @include imagenes(galeria-img-7);
    }

    .galeria-img8{
        @include imagenes(galeria-img-8);
    }

    .galeria-img9{
        @include imagenes(galeria-img-9);
    }

    .galeria-img10{
        @include imagenes(galeria-img-10);
    }
}

.bg-galeria{
    height: auto;
}


/*------------- media-galeria -------------------*/


@media screen and (max-width:992px) {
    .galeria{
       
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "galeria-img-1 galeria-img-2 "
        "galeria-img-3 galeria-img-4 "
        "galeria-img-5 galeria-img-6 "
        "galeria-img-7 galeria-img-8 "
        "galeria-img-9 galeria-img-10"
        ;
        
    }
}

@media screen and (max-width:688px) {
    .galeria{
       
        grid-template-columns: 1fr;
        grid-template-areas: 
        "galeria-img-1 "
        "galeria-img-2 "
        "galeria-img-3 "
        "galeria-img-4 "
        "galeria-img-5 "
        "galeria-img-6 "
        "galeria-img-7 "
        "galeria-img-8 "
        "galeria-img-9 "
        "galeria-img-10"
        ;
        
    }
}